---
layout: default
parent: ../blog/index.html
title: Mapas Históricos do Recife
metatitle: 🦀 Mapas Históricos do Recife
description: Coleção de mapas históricos do Recife.
cover-image: https://www.hnrqndrd.com/recife/images/cover.jpg
---

<div id="main-div">
    {% for page in site.pages %}
    {% if page.categories contains "mapa" %}
    <a href="{{ page.map }}.html">
        <img class="thumb" src="res/thumb/{{ page.map }}.jpg" alt="{{ page.map }}">
    </a>
    {% endif %}
    {% endfor %}
</div>