---
layout: default
parent: ..
title: Mapas Históricos do Recife
metatitle: 🦀 Mapas Históricos do Recife
description: Coleção de mapas históricos do Recife.
cover-image: https://www.historiadorecife.com/images/cover.jpg
---

<div id="main-div">
    {% for page in site.pages %}
    {% if page.categories contains "mapa" %}
    <a class="image-button" href="{{ page.map }}.html">
        <div>
            <img class="thumb" src="res/thumb/{{ page.map }}.jpg" alt="{{ page.map }}">
            <p>{{ page.map }}</p>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>