body, html {
    font-family: 'Crimson Text';
    color: #000000;
    background: #FFF;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 20pt;
}

h2 {
    font-size: 1.25em;
    text-indent: 15pt;
    margin: 50pt 0 5pt 0;
}

h3 {
    font-size: 1.1em;
    text-indent: 20pt;
    margin: 25pt 0 5pt 0;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

p {
    text-align: justify;
}

p.text {
    text-indent: 25pt;
    margin: 0;
    margin-bottom: 20pt;
}

.bold {
    font-weight: bold;
}

#page-content {
    font-family: 'Crimson Text', serif;
    font-size: 20pt;
    overflow-y: auto;
    max-width: 800px;
    margin: 0 auto;
}

.page-div {
    max-width: 900px;
    height: 100%;
    box-sizing: border-box;
    padding: 16mm;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .page-div {
        height: 100%;
        padding: 16mm;
        margin: 0;
    }
}

.page-number {
    position: fixed;
    bottom: 5mm;
    right: 16mm;
}

.chapter-icon {
    font-size: 3em;
    text-align: center;
    margin: 0;
    margin-bottom: 15pt;
}

.chapter-title {
    font-size: 1.1em;
    margin: 20pt;
}

.edition-date {
    font-size: 0.6em;
    text-align: center;
    margin: 0;
    margin-bottom: 15pt;
}

.section-divider {
    font-size: 0.8em;
    text-align: center;
}

.whisper {
    font-size: 0.75em;
    font-style: italic;
}

.figure {
    width: 100%;
    margin: 0;
    margin-top: 15pt;
}

.figure-subtitle {
    color: #333;
    font-size: 0.8em;
    text-align: center;
    margin: 0;
    margin-bottom: 20pt;
}

.footer {
    font-size: 0.75em;
    text-align: center;
    color: #333;
    margin: 50pt;
}