@font-face {
    font-family: 'Retron2000';
    src: url('../fonts/Retron2000.ttf');
}

body {
    position: fixed;
    background-image: url(../images/texture.gif);
    background-size: 100px 100px;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Retron2000';
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

p {
    margin: 0;
    padding-bottom: 15pt;
}

/*160 × 144 pixels,*/
#dim-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    background: #555555;
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    height: 50pt;
    visibility: collapse;
    opacity: 0;
}

#controls .button {
    position: relative;
}

#screen {
    position: absolute;
    width: 256px;
    height: 192px;
    background: white;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#div-transition {
    position: absolute;
    background: white;
    width: 100%;
    top: 100%;
    bottom: 0;
}

#div-transition #top-div {
    background: #EEEEEE;
    height: 50pt;
}

#content {
    position: relative;
    width: 100%;
    height: 100%;
}

#overlay-z {
    position: absolute;
    z-index: 1;
    /* background: red; */
    height: 40%;
    bottom: 0;
    left: 0;
    right: 0;
}

p.text {
    text-align: center;
}

.pixel {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

/* Title & Buttons */

.page div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page p {
    padding: 0;
}

.page .button {
    background: #BBBBBB;
    margin: 5pt;
    border-style: solid;
    border-color: orangered;
    border-width: 0pt;
    box-shadow: 0 4pt 0 -2pt #000;
}

.page .button:hover {
    background: #CCCCCC;
}

.page .button:active {
    background: #FFFFFF;
    font-size: 0.9em;
    box-shadow: 0 0 0 #000;
}

/* Page styles */

.page#one {
    background: #EEEEEE;
}