body, html {
    font-family: 'Crimson Text';
    color: #000000;
    background: #FFF;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 20pt;
}

h2 {
    font-size: 1.25em;
    text-indent: 15pt;
    margin: 50pt 0 5pt 0;
}

h3 {
    font-size: 1.1em;
    text-indent: 20pt;
    margin: 25pt 0 5pt 0;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

p.text {
    text-indent: 25pt;
    text-align: justify;
    margin: 0;
    margin-bottom: 20pt;
}

.bold {
    font-weight: bold;
}

#top-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100pt;
    top: 0;
    overflow: hidden;
    z-index: 3;
    font-family: 'Patua One', cursive;
    color: #000000;
    background: #DDD;
}

#top-bar-title {
    display: flex;
    width: 100%;
    height: 50%;
    margin: 0;
    font-size: 1.5em;
}

#top-bar-icon {
    float: left;
    height: 50pt;
}

#top-bar-subtitle {
    background: #EEE;
    width: 100%;
    height: 50%;
    margin: 0;
    font-size: 1.5em;
}

#top-bar p {
    text-align: center;
    line-height: 50pt;
    margin: auto;
}

#page-content {
    font-family: 'Crimson Text', serif;
    font-size: 20pt;
    position: absolute;
    top: 100pt;
    overflow-y: auto;
    width: 100%;
}

.page-div {
    max-width: 900px;
    height: 100%;
    box-sizing: border-box;
    padding: 16mm;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .page-div {
        width: 100%;
        height: 100%;
        padding: 16mm;
        margin: 0 auto;
    }
}

.page-number {
    position: fixed;
    bottom: 5mm;
    right: 16mm;
}

.chapter-icon {
    font-size: 3em;
    text-align: center;
    margin: 0;
    margin-bottom: 15pt;
}

.chapter-title {
    font-size: 1.1em;
    margin: 20pt;
}

.edition-date {
    font-size: 0.6em;
    text-align: center;
    margin: 0;
    margin-bottom: 15pt;
}

.section-divider {
    font-size: 0.8em;
    text-align: center;
}

.whisper {
    font-size: 0.75em;
    font-style: italic;
}

.figure {
    width: 100%;
    margin: 0;
    margin-top: 15pt;
}

.figure-subtitle {
    color: #333;
    font-size: 0.8em;
    text-align: center;
    margin: 0;
    margin-bottom: 20pt;
}

.button {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    background: #DDDDDD;
    outline-style: solid;
    outline-color: orangered;
    outline-width: 0pt;
    /*transition: outline-width 0.1s;*/
    height: 50pt;
    margin: 0 0 5pt 0;
}

.button:hover {
    /*background: orangered;*/
    outline-width: 3pt;
}

.button:active {
    background: #EEEEEE;
}

.button:disabled {
    background: #CCCCCC;
}

.button p {
    /* font-family: 'Geometr415 Md BT', sans-serif; */
    font-size: 0.8em;
    color: #000000;
    padding: 0 15pt;
    margin: auto 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.button.thumbnail {
    flex-direction: column;
    height: 150pt;
    margin-bottom: 25pt;
}

.button.thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100pt;
}

.button.thumbnail .posttitle {
    line-height: 30pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.button.thumbnail .postsubtitle {
    font-size: 0.5em;
    line-height: 20pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer {
    font-size: 0.75em;
    text-align: center;
    color: #333;
    margin: 50pt;
}