<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapas</title>

    <link href="../style/blog.css" rel="stylesheet">
    <link href="../style/maps.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=Patua+One&family=Ubuntu&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://www.historiadorecife.com/scripts/pages.js"></script>

    <!-- Map Viewer https://github.com/fengyuanchen/viewerjs -->
    <link href="../scripts/viewerjs/viewer.css" rel="stylesheet">
    <script src="../scripts/viewerjs/viewer.js"></script>
</head>

<script type="module">
    $(document).ready(function (event) {
        const viewer = new Viewer($('#map-container img')[0], {
            inline: true,
            toolbar: {
                zoomIn: 4,
                zoomOut: 4,
                oneToOne: 4,
                reset: 4,
                prev: false,
                play: false,
                next: false,
                rotateLeft: false,
                rotateRight: false,
                flipHorizontal: false,
                flipVertical: false,
            },
            navbar: false,
            rotatable: false,
            url(image) {
                return 'res/' + image.alt + '.jpg';
            },
        });

        // viewer.show();
        console.log('yes');
    });

    $(document).ready(function () {
        //viewer.show();
    });
</script>

<body>
    <div id="top-bar">
        <div id="icon-top-bar" class="nav-button">
            <img id="icon-img-top-bar" class="icon clickable" href="{{ page.parent }}"
                src="https://www.historiadorecife.com/icons/symbols/arrow_left.png" />
        </div>
        <div id="top-bar-title">
            <p>🦀 Mapas</p>
        </div>
    </div>

    <!--#region Content -->
    <div id="mappage-content">

        <div id="map-details">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.year }}</h2>
            
            <hr />
            
            <p>{{ page.description }}</p>
            
            <hr />

            <h3>Referência Externa:</h3>
            <p><a href="{{ page.ref }}">{{ page.ref }}</a></p>
        </div>

        <div id="map-container">
            <img src="../mapas/res/blank.png" alt="{{ page.map }}">
        </div>
    </div>
</body>

</html>