<!DOCTYPE html>
<html>

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PNZJJ1VFTW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
  
      gtag('config', 'G-PNZJJ1VFTW');
    </script>
  
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>{{ page.title }}</title>
  
    <meta name="description" content="{{page.description}}" />
    <meta name="theme-color" content="#EEEEEE" />
    <meta property="og:title" content="{{page.metatitle}}" />
    <meta property="og:image" content="{{page.cover-image}}" />
    <meta property="og:type" content="website" />
  
    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="hnrqndrd.com">
    <meta name="twitter:creator" content="@rickhenrique">
    <meta name="twitter:title" content="{{ page.metatitle }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.cover-image }}">
  
    <link href="../style/blog.css" rel="stylesheet">
    <link href="https://www.hnrqndrd.com/style/pages.css" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=Patua+One&family=Ubuntu&display=swap"
      rel="stylesheet">
    <link href="https://www.hnrqndrd.com/style/markdown.css" rel="stylesheet">
  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://www.hnrqndrd.com/scripts/pages.js"></script>
  </head>

<body>
  <div id="top-bar">
    <div id="icon-top-bar" class="nav-button">
      <img id="icon-img-top-bar" class="icon clickable" href="{{ page.parent }}"
        src="https://www.hnrqndrd.com/icons/symbols/arrow_left.png" />
    </div>
    <div id="top-bar-title">
      <p>{{ page.title }}</p>
    </div>
  </div>
  <div id="page-content">
    {{ content }}
  </div>
</body>

</html>