<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PNZJJ1VFTW"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PNZJJ1VFTW');
    </script>
    
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ page.title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='{{ site.styles }}/screen.css'>
    <script src="{{ site.scripts }}/3rdparty/jquery-3.4.1.min.js"></script>
    <script src='{{ site.scripts }}/screen.js'></script>
</head>

<body>
    <div id="dim-div"></div>

    <div id="controls">
        <img id="icon" src="icons/symbols/arrow_left.png" />
    </div>
    
    <div id="screen">
        <div id="content">
            {{ content }}
        </div>
    </div>

    <div id="div-transition">
        <div id="top-div"></div>
    </div>
</body>

</html>