<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104686652-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-104686652-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    <meta name="description" content="{{page.description}}" />
    <meta name="theme-color" content="#EEEEEE" />
    <meta property="og:title" content="{{page.metatitle}}" />
    <meta property="og:image" content="{{page.cover-image}}" />
    <meta property="og:type" content="website" />

    <!-- Twitter Meta -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="henriquejandrade.github.io">
    <meta name="twitter:creator" content="@rickhenrique">
    <meta name="twitter:title" content="{{ page.metatitle }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.cover-image }}">

    <link href="{{ site.styles }}/summaries.css" rel="stylesheet">

    <script src="{{ site.scripts }}/3rdparty/jquery-3.4.1.min.js"></script>
    <script src="{{ site.scripts }}/pages.js"></script>
</head>

<body>
    <div id="top-bar">
        <div id="top-bar-title">
            <img id="top-bar-icon" class="icon clickable" href="{{ page.parent }}"
                src="https://www.historiadorecife.com/icons/symbols/arrow_left.png" />
            <p>Parte {{ page.chapter }}</p>
        </div>
        <div id="top-bar-subtitle">
            <p>{{ page.title }}</p>
        </div>
    </div>

    <div id="page-content">
        <div class="page-div">
            {{ content }}
        </div>
    </div>
</body>

</html>